.post,
.list {
  padding: 1.5rem;
}

.post {
  background-color: white;
}

#latest, #post {
  background-color: #232733 !important;
}

#latest .post p, #post .post p  {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  margin-bottom: 0rem;
}

#sidebar > * {
  background-color: #232733 !important;
}

#sidebar #categories .list {
  background: var(--color-1);
}

#sidebar #category #category-list a:hover {
  color: var(--color-2);
  transition: linear 0.3s;
}

#sidebar #popular-posts .post .title {
  border: 0;
}

#sidebar #popular-posts .post .title a {
  text-decoration: none;
}

#sidebar #popular-posts .post .title a:hover {
  color: var(--color-1) !important;
  text-decoration: underline;
}
