h1 {
  font-size: 1.8rem !important;
  margin: 1.2rem auto 1.2rem 2rem !important;
}

.title {
  background-color: black;
  border-bottom: 0.5rem solid var(--color-1);
}

.post,
.list {
  padding: 1.5rem;
}

.post {
  background-color: white;
}

#latest, #post {
  background-color: #232733 !important;
}

#latest .post p, #post .post p  {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

#sidebar > * {
  background-color: #232733 !important;
}

#sidebar #categories .list {
  background: var(--color-1);
}

#sidebar #category #category-list a:hover {
  color: var(--color-2);
  transition: linear 0.3s;
}

#sidebar #popular-posts .post .title {
  border: 0;
}

#sidebar #popular-posts .post .title a {
  text-decoration: none;
}

#sidebar #popular-posts .post .title a:hover {
  color: var(--color-1) !important;
  text-decoration: underline;
}
