html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  top: 0;
  width: 100%;
  position: fixed;    

  color: white;
  font-size: 24px;
  text-align: center;

  background: #7325b0;
}

main {
  margin: 75px 20px;
}

footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;

  font-size: 24px;
  background: #ab91c0;
}

header strong, header a, footer strong, footer a {
  display: block;
  height: 35px;
  padding: 10px 14px;

  color: white;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
}

header a, footer a {
  float: right;
}

header strong, footer strong {
  float: left;
}

header a:hover {
  background: #ab91c0;
  color: black;
}

footer a:hover {
  background: #7325b0;
  color: black;
}

a.social-network img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

table, tr, td, th {
  border: 1px solid black;
}

.students {
  margin: 0 auto;
}

p {
  max-width: 100%;
}