@font-face {
  font-family: Oswald;
  src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: Ubuntu;
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: Anton;
  src: url('../fonts/Anton/Anton-Regular.ttf')
}

@font-face {
  font-family: Gemunu_Libre;
  src: url('../fonts/Gemunu_Libre/GemunuLibre-VariableFont_wght.ttf')
}