main {
  width: 70% !important;
}

#articles-carousel {
  background-color: #232733;
}

#articles-carousel .carousel-item .shadow {
  box-shadow: inset 0px 50px 126px 50px rgb(0 0 0 / 100%) !important;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#articles-carousel .carousel-item a {
  bottom: 1.5rem;
  font-size: 1.8rem;
  left: 1.5rem;
  max-height: 25%;
  max-width: 95%;
  position: absolute;
  z-index: 10;
}

#articles-carousel .carousel-item a:hover {
  color: var(--color-2) !important;
}
