main {
  background-color: #232733;
}

#articles-carousel .carousel-item .shadow {
  box-shadow: inset 0px 50px 126px 50px rgb(0 0 0 / 100%) !important;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#articles-carousel .carousel-item a {
  bottom: 1.5rem;
  left: 1.5rem;
  max-height: 25%;
  max-width: 95%;
  position: absolute;
  z-index: 10;
}

#articles-carousel .carousel-item a:hover {
  color: var(--color-2) !important;
}

#articles-carousel button .carousel-control-prev-icon,
#articles-carousel button .carousel-control-next-icon {
  opacity: 1;
  width: 4vw;
  height: 4vw;
}

#articles-carousel button .carousel-control-prev-icon {
  background-image: url(../images/icons/left-arrow.png);
}

#articles-carousel button .carousel-control-next-icon {
  background-image: url(../images/icons/right-arrow.png);
}
