main {
  background: var(--black-1);
  border-bottom: 0.4rem solid var(--color-1);
  border-top: 0.4rem solid var(--color-1);
  color: white;
  display: grid;
  grid-template-areas: "about-us logo";
  grid-template-columns: 65% 1fr;
  padding: 2rem 5vw;
}

#about-us {
  grid-area: about-us;
}

#about-us h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

#about-us p {
  font-size: 1.2rem;
  padding: 1rem 0;
}

#logo {
  grid-area: logo;
}

#logo img {
  padding: 0 4rem;
  width: 100%;
}

@media only screen and (max-width: 750px) {
  main {
    grid-template-areas: "logo" "about-us";
    grid-template-columns: auto;
  }
}