.container {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  padding: 0 5vw;
  margin: 4vh 0;
}

.container .flex-column {
  align-items: flex-start;
}

.container h2 {
  font-family: var(--title);
  margin-bottom: 1.25rem;
}

.container h2::before {
  background: var(--color-2);
  bottom: -0.2rem;
  content: "";
  height: 0.25rem;
  position: absolute;
  width: 60%;
}

#contact div {
  align-items: center;
}

#contact i {
  color: var(--color-2);
  font-size: 1.5rem;
  margin: 1rem;
}

#contact span {
  font-family: var(--link);
  font-size: 1.1rem;
}

#info a {
  font-size: 1.1rem;
  margin: 0.4rem 0;
}

#info a:hover {
  color: var(--color-3);
  transition: linear 0.3s;
}

#suscribe form {
  margin-top: 0.4rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#suscribe form input {
  background: var(--black-2);
  border: 0;
  color: white;
  padding: 1rem 1.5rem;
  width: 100%;
}

#suscribe form input:focus {
  outline-width: 0;
}

#suscribe form button {
  background: var(--color-2);
  border: 0;
  height: 100%;
  padding: 0 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

#media nav {
  width: 100%;
}

#media .flex-row {
  gap: 5%;
  width: 100%;
}

#media a {
  border-radius: 50%;
  display: inline-block;
  height: 3rem;
  padding: 0.75rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 3rem;
}

#media a:hover {
  opacity: 0.7;
}

#media i {
  font-size: 1.5rem;
}

#media #YT {
  background: var(--youtube);
}

#media #LI {
  background: var(--linkedin);
}

#media #TW {
  background: var(--twitter);
}

#media #IG {
  background: var(--instagram);
}

#rights {
  background: var(--black-2);
  color: var(--grey);
  margin-top: 2vw;
  padding: 1vw 4vw;
  text-align: center;
}

#rights a {
  color: white;
}

#rights a:hover {
  text-decoration: underline;
}