#nav-menu .brand-logo {
  padding: 1.25rem 2.5rem;
}

#nav-menu .link {
  padding: 2rem 1.8rem;
}

#nav-menu .link:hover {
  background: var(--color-2);
}

@media only screen and (max-width: 750px) {
  #nav-menu ul {
    justify-content: center;
  }

  #nav-menu .brand-logo h1 {
    text-align: center;
  }

  #nav-menu .link {
    display: none;
  }
}