#nav-menu {
  position: relative;
}

#nav-menu ul {
  width: 100%;
}

#nav-menu .brand-logo img {
  height: 4rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

#nav-menu .brand {
  padding: 1.25rem 2.5rem 1.25rem 0.5rem;
}

#nav-menu .link {
  padding: 2rem 1.8rem;
}

#nav-menu .link:hover {
  background: var(--color-2);
}

#nav-menu #toogle-menu {
  display: none;
}

@media only screen and (max-width: 750px) {
  #nav-menu ul {
    justify-content: center;
  }

  #nav-menu .brand {
    padding: 1.25rem 0;
  }

  #nav-menu .brand h1 {
    text-align: center;
  }

  #nav-menu .link {
    display: none;
  }

  #nav-menu #toogle-menu {
    display: block;
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  #nav-menu ul {
    justify-content: center;
  }

  #nav-menu .brand-logo img {
    margin-top: 0.5rem;
    height: 3rem;
  }

  #nav-menu .brand h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  #nav-menu .link {
    display: none;
  }

  #nav-menu #toogle-menu {
    left: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  #nav-menu .brand-logo {
    display: none;
  }
}