main {
  box-sizing: border-box;
  column-gap: 2vw;
  display: grid;
  grid-template-areas: "latest-articles sidebar";
  grid-template-columns: 65% 1fr;
  padding: 2rem 5vw;
}

main>* {
  min-height: 0;
  min-width: 0;
}

main .image {
  color: white;
  line-height: 0;
  overflow: hidden;
  position: relative;
}

main .image img {
  transition: all 1s ease;
  width: 100%;
}

main .image img:hover {
  transform: scale(1.2);
}

main .image .info {
  align-items: center;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  position: absolute;
}

main .image .info i {
  font-size: 1rem;
  font-style: normal;
  padding: 0.5rem;
}

main .post h3 {
  max-width: 100%;
  position: relative;
}

main .post h3::before {
  background: var(--color-2);
  bottom: -0.4rem;
  content: "";
  height: 0.25rem;
  position: absolute;
  width: 60%;
}

#latest-articles {
  background: white;
  grid-area: latest-articles;
}

#latest-articles h2 {
  font-size: 1.8rem;
  margin: 1.2rem auto 1.2rem 2rem;
}

#latest-articles .post {
  align-items: initial;
  border-top: 0.5rem solid #E0E0E0;
  max-width: 100%;
  padding: 2rem;
}

#latest-articles .post h3 {
  margin: 1rem 0;
}

#latest-articles .post p {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

#latest-articles button {
  margin-top: 1rem;
  padding: 0.7rem 2rem;
  width: fit-content;
}

#latest-articles button:hover {
  background: var(--color-1);
  opacity: 0.8;
}

#sidebar {
  grid-area: sidebar;
}

#sidebar>section {
  background: white;
  margin-bottom: 2rem;
  max-width: 100%;
  width: 100%;
}

#sidebar>section>* {
  padding: 1rem;
  width: 100%;
}

#sidebar h2 {
  background: rgb(12, 12, 12);
  color: white;
  font-size: 1.8rem;
  padding: 1.2rem 1rem;
  position: relative;
}

#sidebar h2::before {
  background: var(--color-2);
  bottom: 0;
  content: "";
  height: 0.6rem;
  left: 0;
  position: absolute;
  width: 100%;
}

#sidebar #category #category-list {
  font-weight: bold;
  gap: 5%;
  padding: 1rem;
}

#sidebar #category #category-list a:hover {
  color: var(--color-3);
  transition: linear 0.3s;
}

#sidebar #popular-post .image {
  padding: 0;
}

#sidebar #popular-tags .tags {
  background: var(--color-1);
  padding: 0;
}

#sidebar #popular-tags .tags .tag {
  color: white;
  padding: 1rem;
}

@media only screen and (max-width: 1130px) {
  main {
    column-gap: 1vw;
    grid-template-columns: 60% 1fr;
  }
}

@media only screen and (max-width: 750px) {
  main {
    grid-template-areas: "sidebar" "latest-articles";
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }
}

@media only screen and (max-width: 520px) {

  main .image .info .fa-user,
  main .image .info #editor {
    display: none;
  }
}